<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Add Inventory</title>
    <script src="javascripts/AddInventory.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1>Add Inventory</h1>
    <h2>Item: <span id="item_name"></span></h2>
    <button class="btn btn-default" title="Go back to the last page." onclick="addInventory.back()">Back</button>
    <hr/>

    <div id="add_list"></div>

    <div class="row form-group">
        <div class="col-sm-4">
            <button class="btn btn-default" title="Add an add inventory entry." onclick="addInventory.addEntry()">+ Add Entry</button>
            <button class="btn btn-default" title="Clear all add inventory entries." onclick="addInventory.reset()">Reset</button>
        </div>
        <div class="col-sm-offset-4 col-sm-2">
            <p class="form-control-static">Total</p>
        </div>
        <div class="col-sm-2">
            <p id="total_text" class="form-control-static">0</p>
        </div>
    </div>

    <br/>

    <div class="row form-group">
        <div class="col-sm-4">
            <label for="location_input">Location</label>
            <input id="location_input" class="form-control" title="Enter the location to add inventory."></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <button id="inventory_add_button" class="btn btn-default" title="Add the total inventory." onclick="addInventory.submitAdd()">Add to Inventory</button>
        </div>
    </div>

    <br/><hr/>

    <h2>Add New Package Type</h2>

    <div class="row form-group">
        <div class="col-sm-4">
            <label for="pkg_name">Name</label><input id="pkg_name" class="form-control" type="text" title="Name of the package."></input>
        </div>
        <div class="col-sm-4">
            <label for="pkg_size">Size</label><input id="pkg_size" class="form-control" type="number" title="Size of the package." min="0"></input>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <button id="pkg_add_button" class="btn btn-default" onclick="addInventory.submitNewPackageType()">Add New Package Type</button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div id="response" class="col-sm-12"></div>
     </div>
</div>
<script>
    $(function() {addInventory.init();});
</script>
</body>
</html>
