<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add Inventory</title>
    <link rel="stylesheet" href="stylesheets/display.style.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/AddInventory.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <h3 class="col-sm-6">Add Inventory</h3>
        </div>

        <div class="row">
            <h3 class="col-sm-6">Item <span id="item_text"></span></h3>
        </div>

        <div id="add_list">
        </div>

        <div class="row">
            <div class="col-sm-offset-8 col-sm-2">Total</div>
            <div id="total_text" class="col-sm-2">0</div>
        </div>

        <br/>

        <div class="row">
            <button class="col-sm-4" type="button" onclick="addInventory.addEntry()">Add More of this product</button>
            <button class="col-sm-4" type="button" onclick="addInventory.reset()">Reset</button>
        </div>

        <br/>

        <div class="row">
            <div class="col-sm-4">
                Location <input id="location_input"></input>
            </div>
        </div>

        <br/>

        <div class="row">
            <button class="col-sm-4" type="button" onclick="addInventory.submitAdd()">Add to Inventory</button>
        </div>

        <br/><br/><br/>

        <div class="row"><div class="col-sm-6">Add New Package Type</div></div>

        <div class="row">
            <div class="col-sm-4">
                Name <input id="pkg_name" type="text"></input>
            </div>
            <div class="col-sm-4">
                Size <input id="pkg_size" type="text"></input>
            </div>
        </div>

        <br/>

        <div class="row">
            <button class="col-sm-4" type="button" onclick="addInventory.submitNewPackageType()">Add New Package Type</button>
        </div>

        <br/>

        <div class="row">
            <div id="response" class="col-sm-6"></div>
         </div>
    </div>
    <script>addInventory.init()</script>
</body>
</html>
