<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Full Admin Logs</title>
    <script src="javascripts/AdminLogs.js"></script>
    <script src="javascripts/navigation.js"></script>
</head>
<body>

<div class="container-fluid">
    <h1>Admin Logs</h1>
    <h2>Filter Options</h2>
    <form id="filterForm">
        <div class = "filter">
            <label id="filterLabel" for="filterLogs">First Filter</label>
            <input type="checkbox" name="filterLogs" id="filterLogs">
        </div>
    </form>
    <button id="Filter" class="btn btn-default" title="Filter Logs." onclick="DisplayAll.Filter()">
        Filter Logs
    </button>
    <hr/>

    <div id="InputDiv">

        <!-- Template for one row -->
        <div class="InputChild row form-group">
            <div class="col-xs-11">
                <!--<input type="checkbox" name="ignoreLog" id="ignoreLog" value="ignoreLog"> -->
                <label id="logLabel">You must sign in to view logs</label>
                <br>
            </div>
        </div>

    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <button id="Refresh" class="btn btn-default" title="Refresh Logs." onclick="DisplayAll.refreshedLogs()">
                Refresh Logs
            </button>
            <button id="DeleteSelected" class="btn btn-default" title="Delete Selected Logs"
                    onclick="DisplayAll.Ignore()">
                Ignore Selected Logs
            </button>
        </div>
    </div>

    <div class="row">

    </div>

    <br/>

</div>
<script>
    DisplayAll.FilterBoxes();
</script>
<script>DisplayAll.Filter()</script>
</body>
</html>