<body>
<script>
window.apiRoute = "<%= apiRoute %>";
window.lookup = "<%= lookup %>";
</script>
<% include indexBody.html %>
<script>
navigation.get(window.apiRoute+"/Login/testLookup/"+window.lookup, function(err, lookup){
    if(err){
        window.alert("Not a valid key!");
        navigation.go('Home.html');
    }
    else{
        if(lookup.type == "reset"){
            navigation.go('ResetPassword.html');
        }
        else if(lookup.type == "create"){
            navigation.go('confirmUser.html');
        }
        else{
            navigation.go('Home.html');
        }
    }
});

</script>
</body>