<script src="javascripts/CreateUser.js"></script>
<div id="mainContainer">
    <form id="createUser">
        <div class="row">
            <div class="col-xs-2">
                <div class="col-xs-6">
                    <label for="email">Email: </label>
                </div>
            </div>
            <div class="col-xs-10">
                <input type="text" class="col-xs-3" id="email">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="col-xs-6">
                    <label for="first">First Name: </label>
                </div>
                <div class="col-xs-6">
                    <input type="text" id="first">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-6">
                    <label for="last">Last Name: </label>
                </div>
                <div class="col-xs-6">
                    <input type="text" id="last">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <div class="col-xs-6">
                    <label for="username">Username: </label>
                </div>
                <div class="col-xs-6">
                    <input type="text" id="username">
                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-6">
                    <label for="password">Password: </label>
                </div>
                <div class="col-xs-6">
                    <input type="password" id="password">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3">
                <input type="submit" class="btn" value="Submit" id="submit">
            </div>
        </div>
    </form>
</div>