<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Current Inventory</title>
    <script src="javascripts/DisplayInventory.js"></script>
</head>

<body>

<div class="container-fluid display-inventory-container">
    <div class="row">
        <div class="col-sm-6 track-inventory-by">
            <label for="track_by" class="input-label">Filter By</label>
            <select id="track_by" class="form-control filter track-by">
                <option value="Customer">Customer</option>
                <option value="Item">Product</option>
                <option value="All">All</option>
            </select>
        </div>

        <div class="col-sm-6">
            <div id="customer-filter" class="form-group">
                <label for="customer" class="input-label">Search</label>
                <div class="input-group">
                    <input id="customer" class="form-control" label="Enter search for a customer." type="text"></input>
                    <span class="input-group-btn"><button id="search_customer_button" class="btn btn-default">Search</button></span>
                </div>
            </div>
            <div id="item-filter" class="form-group" hidden="hidden">
                <label for="item" class="input-label">Search</label>
                <div class="input-group">
                    <input id="item" class="form-control" label="Enter search for an item." type="text"></input>
                    <span class="input-group-btn"><button id="search_item_button" class="btn btn-default">Search</button></span>
                </div>
            </div>
        </div>
    </div>

    <button id="qr_button" class="btn btn-default" title="Show the QR code for this page." onclick="qrCode()">
        Show QR Code
    </button>

    <div class="inventory-container"></div>

</div>
</body>
</html>
