<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Add Inventory</title>
    <link rel="stylesheet" href="stylesheets/display.style.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/EditCartItems.js"></script>
    <style>
        .float_left {
            float: left;
        }
        .float_right {
            float: right;
        }
    </style>
</head>

<body>
<h3>Edit Cart: <span id="cart_name"></span></h3>
</div>

<div class="inventory-container"></div>
<div id="response"></div>
<script>editCartItems.init()</script>
</body>
</html>