<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Edit Product</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/EditProduct.js"></script>
</head>
<div class="new-product-form">
    <h1>Edit Product</h1>

    <div>
        <strong>Editing ProductID: </strong>
        <strong class="selectedID"></strong>
    </div>
    <div class="input-row">
        <div class="input-label">Customer</div>
        <textarea class="customer" rows="1" type="textarea"> </textarea>
    </div>

    <div class="input-row">
        <div class="input-label">Item Name</div>
        <textarea class="product-name" type="textarea" rows="1"></textarea>
    </div>

    <div class="input-row">
        <div class="input-label">Description</div>
        <textarea class="description" rows="4" cols="50"></textarea>
    </div>

    <!-- TODO add api route to store the image that is uploaded into s3 -->
    <div class="input-row">
        <div class="input-label">Image</div>
        <div class="upload-button">Upload Different Image</div>
    </div>

    <div class="input-row external-id-input unimplemented">
        <span class="input-label">External ID</span>
        <input type="text">
        <span class="input-label">External System</span>
        <input type="text">
    </div>

    <div class="input-row external-id-input">
        <span class="input-label">External ID</span>
        <input type="text">
        <span class="input-label">External System</span>
        <input type="text">
    </div>

    <div class="input-row">
        <div class="submit" onclick="editProduct.reSubmit()">Done Editing</div>
    </div>

    <script>
        $(function() {
            editProduct.init();
        });
    </script>

</div>
</html>
