<!DOCTYPE html>
<html>

<div class="new-product-form">
    <h1>Edit Product</h1>
    <div>
        <strong>Editing ProductID: </strong>
        <strong class="selectedID"></strong>
    </div>

    <div class="input-row">
        <div class="input-label">Customer</div>
        <textarea class="customer" rows="1" type="textarea"> </textarea>
    </div>

    <div class="input-row">
        <div class="input-label">Item Name</div>
        <textarea class="product-name" type="textarea" rows="1"></textarea>
    </div>

    <div class="input-row">
        <div class="input-label">Description</div>
        <textarea class="description" rows="4" cols="50"></textarea>
    </div>

    <div class="input-row">
        <div class="input-label">Image</div>
        <div class="upload-button">Upload Different File</div>
    </div>
    <script>showProductID(100)</script>

    <div class="input-row">
        <div class="submit" onclick="reSubmit()">Done Editing</div>

    </div>

</div>
</html>