<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="javascripts/nav_vert.js"></script>
    <script src="javascripts/EditCartData.js"></script>

</head>
<body>
<div class="container-fluid">
    <h1>Edit Cart Data</h1>
    <h2>Cart: <span id="cart_name"></span></h2>
    <hr/>

    <div class="row form-group">
        <div class="col-sm-12">
            <label for="CartName">Cart Name</label>
            <p id="CartName_text" class="form-control-static"></p>
            <input id="CartName" class="form-control hidden" type="text"></input>
        </div>
    </div>

    <br/>

    <div class="row form-group">
        <div class="col-sm-12">
            <label for="Reporter">Reporter</label>
            <p id="Reporter_text" class="form-control-static"></p>
            <input id="Reporter" class="form-control hidden" type="text"></input>
        </div>
    </div>

    <br/>

    <div class="row form-group">
        <div class="col-sm-12">
            <label for="Assignee">Assignee</label>
            <p id="Assignee_text" class="form-control-static"></p>
            <input id="Assignee" class="form-control hidden" type="text"></input>
        </div>
    </div>

    <br/>

    <div class="row form-group">
        <div class="col-sm-12">
            <label for="Date">Delete Date</label>
            <p id="Date_text" class="form-control-static"></p>
            <input id="Date" class="form-control hidden" type="text"></input>
        </div>
    </div>

    <br/>

    <div class="row form-group">
        <div class="col-sm-4">
            <button id="edit_button" class="btn btn-default" onclick="editCartData.edit()">Edit</button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-4">
            <button class="btn btn-default" onclick="editCartData.CartItemsEdit(editCartData.getCartId(), editCartData.getCartName())">Edit Cart Items</button>
        </div>
    </div>

    <div id="response"></div>
</div>
<script>
    $(function() {
        editCartData.init();
    });
</script>
</body>
</html>
