<head>
    <!--
        TODO Add a page title and maybe a header
        TODO start a new javascript file for submitting and include it on this page
        TODO make submit actually send a request to the API
        TODO add more form fields
        TODO make some css changes to make it prettier
        TODO Remove these comments!
    -->
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/bootstrap.min.js"></script>
</head>
<body>
    <form id="initialForm">
        <label for="printJob">Print Job: </label>
        <input type="text" placeholder="I am a placeholder" id="printJob">
        <div>
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
</body>