<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>IMP Home Page</title>
    <link rel="stylesheet" href="stylesheets/display.style.css">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script type="text/javascript" src="js/lib/jquery-1.11.1.min.js" ></script>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/nav_vert.js"></script>

</head>
<body>

<div>
    Home content here.
</div>

</body>
</html>