<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Welcome to IMP for StevensIS</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/jquery-ui.min.css"/>
    <link rel="stylesheet" href="stylesheets/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="stylesheets/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="stylesheets/selectize.bootstrap3.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/jquery-ui.min.js"></script>
    <script src="javascripts/selectize.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/nav_vert.js"></script>
    <script src="javascripts/navigation.js"></script>
</head>
<body>
<div id="nav_hori" class="row-fluid main-horizontal-nav">
    <div aligh="left"><a href="javascript:void(0);" class="header-logo" onclick="Home()" ><img class="si-logo" src="image/stevensis_logo.gif"></a></div>
    <div class="header-menu-right" align="right">
        <button id="login" type="button" onclick="loginPage()" hidden>Login</button>
        <div id="loggedIn" hidden>
            <a href="#">
                <span class="glyphicon glyphicon-user"></span>
                <span id="usersName"></span>
            </a>
        </div>
        <a href="#about">About &nbsp</a>
    </div>
    <div class="show-mobile-menu">V</div>
</div>

<div id="nav_vert" class="vertical-nav-bar">
    <li><button class="btn btn-default action-button" id="DisplayInventory" onclick="DisplayInventories()">Track Inventory</button></li>
    <li><button class="btn btn-default action-button" id="ViewCarts" onclick="ViewCarts()">View Carts</button></li>
    <li><button class="btn btn-default action-button" id="AddProduct" onclick="AddProduct()">New Product</button></li>

    <li><button class="btn btn-default">Reports</button>
        <ul>
            <li>
                <button class="btn btn-default action-button subbutton" id="PreDefined" onclick="PreDefinedReports()">Pre-defined</button>
            </li>
            <li>
                <button class="btn btn-default action-button subbutton" id="MakeMyOwn" onclick="MakeMyOwnReport()">Make My Own</button>
            </li>
        </ul>
    </li>

    <li><button class="btn btn-default">Administrator</button>
        <ul>
            <li>
                <button class="btn btn-default action-button subbutton" id="ViewUsers" Onclick="ViewUsers()">Manage Users</button>
            </li>
            <li>
                <button class="btn btn-default action-button subbutton" id="Audit" onclick="Audit()">Audit</button>
            </li>
            <li>
                <button class="btn btn-default action-button subbutton" id="Logs" onclick="Logs()">Logs</button>
            </li>
        </ul>
    </li>
</div>

<div id="main_cont" class="ng-view col-xs-8 main-content-container">
    <script type="text/javascript">Home()</script>
</div>

</body>
</html>
