<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Current Inventory</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <style>
        .thumbnail {
            width: 128px;
            height: 128px;
            background-color: red;
        }
    </style>
</head>
<body>
<h1 id="product_name"></h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="thumbnail unimplemented">Thumbnail</div>
        </div>

        <div id="details" class="col-sm-9"></div>
    </div>

    <br/>

    <div id="buttons" class="row">
        <button class="col-sm-2" onclick="itemDetailView.add()">Add</button>
        <button class="col-sm-2" onclick="itemDetailView.pull()">Pull</button>
        <button class="col-sm-2" onclick="itemDetailView.edit()">Edit</button>
        <button class="col-sm-2">Delete</button>
    </div>

    <br/><hr/>

    <div class="row">
        <h2>Timeline</h2>
    </div>

    <div class="row">
        <select class="col-sm-2">
            <option>All</option>
            <option>Runs</option>
            <option>Pulls</option>
            <option>Changes</option>
        </select>
    </div>

    <div id="response"></div>
</div>
<script>
    var itemDetailView = {
        productID: null,
        item: null,

        init: function() {
            this.productID = window.args.ProductID;

            var self = this;

            $.get(window.apiRoute + "/itemDetail/" + this.productID, function(response) {
                if(response && response.length) {
                    self.item = jQuery.parseJSON(response)[0];
                    //console.log(self.item);
                    self.productName = self.item.Name;
                    self.displayItem();
                } else {
                    self.renderError("No inventory found");
                }
            }).fail(function(response) {
                self.renderError("Failed to load inventory: " + response );
            });
        },

        displayItem: function() {
            $("#product_name").text(this.item.Name);
            $("#details").append("<div>Total Available: <span>" + this.item.TotalAvailable + "</span></div>" +
                    "<div>Total Reserved: <span>" + this.item.TotalReserved + "</span></div>" +
                    "<div>Last run: <span>" + this.item.MostRecent + "</span></div>");
        },

        renderError: function(error) {
            $("#response").text("Error: " + error);
        },

        add: function() {
            if (!this.productID || !this.item) return;
            navigation.go("AddInventory.html", {ProductID:this.productID, ProductName:this.item.Name || "", PreviousPage:"ItemDetailView.html"});
        },

        pull: function() {
            if (!this.productID || !this.item) return;
            navigation.go("PullInventory.html", {ProductID:this.productID, ProductName:this.item.Name || "", TotalQuantity:this.item.TotalAvailable, PreviousPage:"ItemDetailView.html"});
        },

        edit: function() {
            if (!this.productID || !this.item) return;
            navigation.go("EditProduct.html", {ProductID:this.productID, ProductName:this.item.Name || "", PreviousPage:"ItemDetailView.html"});
        }
    };

    $(function() {
        itemDetailView.init();
    });
</script>
</body>
</html>
