<html>
<head>
    <title>Login Page</title>
    <script src="javascripts/login.js"></script>
</head>
<body>
<div class="container-fluid">
    <div id="invalidCreds" class="alert alert-danger hidden" role="alert">Your username and password don't match our records please try again!</div>
    <div class="row">
        <div class="col-sm-12">
            <label class="input-label" for="username">Username</label>
            <input type="text" id="username" class="form-control"/>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            <label class="input-label">Password</label>
            <input type="password" id="password" class="form-control"/>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            <button type="button" id="signOn" class="btn btn-default" onclick="login.sendAuth()">Sign In</button>
        </div>
    </div>
</div>
<script>$(function(){login.init()});</script>
</body>
</html>
