<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Logs</title>
    <script src="javascripts/Logs.js"></script>
    <script src="javascripts/navigation.js"></script>
</head>
<body>

<div class="container-fluid">
    <h1>Logs</h1>
    <hr/>

    <div id="InputDiv">

        <!-- Template for one row -->
        <div class="InputChild row form-group">
            <div class="col-xs-1">
                <input type="checkbox" name="ignoreLog" id="ignoreLog" value="ignoreLog">
            </div>
            <div class="col-xs-11">
                <!--<input type="checkbox" name="ignoreLog" id="ignoreLog" value="ignoreLog"> -->
                <label id="logLabel" for="ignoreLog">You must sign in to view logs</label>
                <br>
            </div>
        </div>

    </div>

    <div class="row form-group">
        <div class="col-xs-12">
            <button id="Refresh" class="btn btn-default" title="Refresh Logs." onclick="Logs()">
                Refresh Logs
            </button>
            <button id="DeleteSelected" class="btn btn-default" title="Delete Selected Logs"
                    onclick="DisplayAll.Ignore()">
                Ignore Selected Logs
            </button>
        </div>
    </div>

    <div class="row">

    </div>

    <br/>

</div>
<script>DisplayAll.Now()</script>
</body>
</html>