<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>New Product</title>
    <script src="javascripts/NewProduct.js"></script>
    <style>
        .thumbnail {
            width: 128px;
            height: 128px;
            background-color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <h1>New Product</h1>
    <hr/>

    <div>Date: <span id="date"></span></div>

    <br/>

    <div class="row">
        <div class="col-sm-12">
            <div class="checkbox">
                <label>
                    <input id="new_run_checkbox" type="checkbox"> Create a new run of this item when finished</input>
                </label>
            </div>
        </div>
    </div>

    <br/>

    <div id="product_name" class="row form-group">
        <div class="col-sm-12">
            <label for="product_name_input">Item Name</label>
            <input id="product_name_input" class="form-control" type="text"/>
        </div>
    </div>

    <div id="description" class="row form-group">
        <div class="col-sm-12">
            <label for="description_input">Description</label>
            <textarea id="description_input" class="form-control" rows="3"/>
        </div>
    </div>

    <div id="customers" class="form-group">
        <div class="row">
            <div class="col-sm-12">
                <label for="customer_select">Select Customers to Associate</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <select id="customer_select" class="form-control" multiple="multiple"/>
            </div>
        </div>
    </div>

    <br/>

    <div id="add_customer" class="row">
        <div class="col-sm-4">
            <button id="add_customer_button" class="btn btn-default" onclick="newProduct.addCustomer()">Add Customer</button>
        </div>
    </div>

    <div id="add_customer_text" class="row hidden">
        <div class="col-sm-4">
            <input id="new_customer_text" type="text" placeholder="New customer">
        </div>
    </div>
    <br/>
    <div id="submit_customer" class="row hidden">
        <div class="col-sm-4">
            <button id="submit_customer_button" class="btn btn-default" onclick="newProduct.submitCustomer()">Submit New Customer</button>
        </div>
    </div>

    <br/>

    <!-- TODO add api route to store the image that is uploaded into s3 -->
    <div class="row">
        <div class="col-sm-3">
            <label>Image</label>

            <div id="thumbnail" class="thumbnail unimplemented">Thumbnail</div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <button id="new_thumbnail_button" class="btn btn-default unimplemented">Upload Image</button>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col-sm-4">
            <button id="submit" class="btn btn-default" onclick="newProduct.submit()">Create</button>
        </div>
    </div>

    <div id="message"></div>
</div>
<script>newProduct.init()</script>
</body>
</html>

