<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8"/>
    <title>New Product</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/EditProduct.js"></script>
    <style>
        .thumbnail {
            width: 128px;
            height: 128px;
            background-color: red;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <h1>New Product</h1>
    <hr/>

    <div>Date: <span id="date"></span></div>

    <br/>

    <div class="row">
        <div>Customer:</div>
        <input id="customer_input" class="col-sm-12" type="text"/>
    </div>

    <br/>

    <div class="row">
        <div>Item Name:</div>
        <input id="product_name_input" class="col-sm-12" type="text"/>
    </div>

    <br/>

    <div class="row">
        <div>Description:</div>
        <textarea id="description_input" class="col-sm-12" rows="4"/>
    </div>

    <br/>

    <!-- TODO add api route to store the image that is uploaded into s3 -->
    <div class="row">
        <div>Image:</div>
        <div class="col-sm-3">
            <div class="thumbnail unimplemented">Thumbnail</div>
        </div>
        <button class="col-sm-4">Upload Image</button>
    </div>

    <br/>

    <div class="row">
        <button id="submit" class="col-sm-4">Create</button>
        <div class="col-sm-8"><input type="checkbox"> Create a new run of this item when finished</input></div>
    </div>

    <div id="message"></div>
</div>

<script type="text/javascript">
    ( function( $ ){

        /**
         * Generates the current date and returns it as a string
         * @returns {string}
         */
        function getDate() {

            var date_object = new Date();
            var day = date_object.getDate();
            var month = date_object.getMonth() + 1;
            var year = date_object.getFullYear();

            var date = year + "-";
            if( month < 10 )
                date += "0";
            date += month + "-";
            if( day < 10 )
                date += "0";
            date += day;

            return date;
        }

        //Tack the date on in the upper-right corner
        $("#date").text(getDate());

        var submit_button = $("#submit");

        //Submit the form when the submit button is clicked
        submit_button.on( 'click', function(){
            $("#message").text("");

            var host = window.apiRoute + "/newProductSubmission/";
            var customer = $("#customer_input").val();
            var product_name = $("#product_name_input").val();
            var description = $("#description_input").val();
            var date = getDate();

            if( !customer.length || !product_name.length || !description.length ){
                $("#message").text("Error: One or more required fields isn't filled out");
                return;
            }

            host = host
                    + product_name + "/"
                    + customer + "/"
                    + description + "/"
                    + date + "/";

            submit_button.prop("disabled", true);

            $.get( host, function( response ) {
                if( response == "Success" ){
                    $("#message").text("Successfully created product");
                    submit_button.prop("disabled", false);
                }
                else {
                    $("#message").text("Error: " + response);
                    submit_button.prop("disabled", false);
                }
            }).fail( function( err ){
                $("#message").text("Error: " + err.responseText);
                submit_button.prop("disabled", false);
            });
        });
    })( jQuery );
</script>
</body>
</html>
