<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pull Inventory</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/PullInventory.js"></script>
</head>
<body>
<h1>Pull Inventory</h1>
<h2>Item: <span id="ProductName"></span></h2>
<hr/>
<div class="container-fluid">
    <span>Amount Available: </span>
    <label id="AvailableAmout"></label>

    <br/>

    <div id="response"></div>

    <br/>

    <div id="InputDiv">
        <div class="InputChild row">
            <select onchange="SelectOnchange(this)" class="col-sm-4 Size">
                <option value="0">Please Select Package Size---</option>
            </select>
            <div class="col-sm-1 text-center" style="font-size: 150%;">*</div>
            <input type="number" onchange="ReCalculate()" class="col-sm-2 Count">
            <div class="col-sm-1 text-center">=</div>
            <div class="col-sm-2">Subtotal of</div>
            <label class="col-sm-2 Subtotal">0</label>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-8 col-sm-2">Total quantity in this Pull: </div>
        <label id="TotalInventory" class="col-sm-2">0</label>
    </div>

    <div class="row">
        <button id="AddMore" class="col-sm-4" onclick="AddMore()">Pull More</button>
    </div>

    <br/>

    <div id="AddNewSize" hidden="hidden">
        <label>Add New Size</label>
        <div id="divNewSize">
            <div>Size Name: </div><input type="text" id="SizeName"/>
            <div>Size: </div><input type="number" id="SizeNumber"/>
            <button id="SubmitNewSize" onclick="SubmitNewSize()">Submit This Size</button>
        </div>
        <br/>
    </div>

    <div id="divAddtoCart">
        <input type="radio" name="Cart" value="true" id="rbExistingCart" onclick="AddToExistingCart()"/>
        <label for="rbExistingCart">Add to Existing Cart</label>
        <br/>
        <input type="radio" name="Cart" value="false" id="rbNewCart" onclick="AddToNewCart()"/>
        <label for="rbNewCart">Create a New Cart</label>

        <br/><br/>

        <div id="divNewCart" hidden="hidden">
            <label>Cart Name/Order Number: </label><input type="text" id="iptCartName">
            <br/>
            <label>Save cart for: </label><input type="number" id="iptDaysToSave"><label> days</label>
            <br/>
            <label>Assignee: </label><select id="sltAssignee"></select>
            <br/>
            <button id="btnAddNewCart" onclick="SubmitNewCart()">Submit New Cart</button>
        </div>

        <div id="divSelectCart" hidden="hidden">
            <select id="slCart"></select>
            <button id="btnAddToExistingCart" onclick="ChooseExistingCart()">Add To This Cart</button>
        </div>
    </div>
</div>
<script>$(init.bind(this))</script>
</body>
</html>
