<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pull Inventory</title>
    <script src="javascripts/PullInventory.js"></script>
</head>
<body>

<div class="container-fluid">
    <h1>Pull Inventory</h1>

    <h2>Item: <span id="ProductName"></span></h2>
    <button class="btn btn-default" title="Go back to the last page." onclick="pullInventory.back()">Back</button>
    <hr/>

    <span>Amount Available: </span>
    <label id="AvailableAmout"></label>

    <br/>

    <div id="response"></div>

    <br/>

    <div id="InputDiv">

        <!-- Template for one row -->
        <div class="InputChild row form-group">
            <div class="col-sm-4">
                <select onchange="pullInventory.SelectOnchange(this)" class="form-control Size">
                    <option value="0">Please Select Package Size---</option>
                </select>
            </div>
            <div class="col-sm-1"><p style="font-size: 150%;" class="form-control-static text-center">*</p></div>

            <div class="col-sm-2">
                <input type="number" class="form-control Count" onchange="pullInventory.ReCalculate()" min="0">
            </div>

            <div class="col-sm-1">
                <p class="form-control-static text-center">=</p>
            </div>

            <div class="col-sm-2"><p class="form-control-static">Subtotal of</p></div>
            <div class="col-sm-2"><p class="form-control-static Subtotal">0</p></div>
        </div>

    </div>

    <div class="row form-group">
        <div class="col-sm-4">
            <button id="AddMore" class="btn btn-default" title="Add a pull inventory entry." onclick="pullInventory.AddMore()">+ Add
                Entry
            </button>
        </div>
        <div class="col-sm-offset-4 col-sm-2"><p class="form-control-static">Total</p></div>
        <div class="col-sm-2"><p id="TotalInventory" class="form-control-static">0</p></div>
    </div>

    <div class="row">

    </div>

    <br/>

    <div id="AddNewSize" style="display:none">
        <label>Add New Size</label>

        <div class="row form-group form-inline">
            <div id="divNewSize" class="col-sm-12">
                <label for="SizeName">Size Name</label>
                <input id="SizeName" class="form-control" type="text" title="Name of the package."/>
                <label for="SizeNumber">Size</label>
                <input id="SizeNumber" class="form-control" type="number" title="Size of the package." min="0"/>
                <button id="SubmitNewSize" class="btn btn-default" onclick="pullInventory.SubmitNewSize()">Submit This Size</button>
            </div>
        </div>
    </div>

    <div id="divAddtoCart">
        <input type="radio" name="Cart" value="true" id="rbExistingCart" onclick="pullInventory.AddToExistingCart()"/>
        <label for="rbExistingCart">Add to an Existing Cart</label>
        <br/>
        <input type="radio" name="Cart" value="false" id="rbNewCart" onclick="pullInventory.AddToNewCart()"/>
        <label for="rbNewCart">Create a New Cart</label>

        <br/><br/>

        <div id="divNewCart" class="form-group form-inline" style="display:none">
            <label for="iptCartName">Cart Name/Order Number</label>
            <input id="iptCartName" class="form-control" type="text">
            <br/>
            <label for="iptDaysToSave">Save cart for</label>
            <input id="iptDaysToSave" class="form-control" type="number" min="0"><label> days</label>
            <br/>
            <label for="sltAssignee">Assignee</label>
            <select id="sltAssignee" class="form-control"></select>
            <br/>
            <button id="btnAddNewCart" class="btn btn-default" onclick="pullInventory.SubmitNewCart()">Submit New Cart</button>
        </div>

        <div id="divSelectCart" class="form-group form-inline" style="display:none">
            <select id="slCart" class="form-control"></select>
            <button id="btnAddToExistingCart" class="btn btn-default" onclick="pullInventory.ChooseExistingCart()">Add To This Cart
            </button>
            <br/><br/>
            <button id="qr_button" class="btn btn-default" title="Show the QR code for this page." onclick="pullInventory.qrCode()">
                Show QR Code
            </button>
        </div>
    </div>
</div>
<script>pullInventory.init()</script>
</body>
</html>
