<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>
    </title>
</head>
<body>
<h1>New Pull for ProductID:'101', Name:'paper', Description:'paper des', DateCreated:'2015-01-01'</h1>
<div id="TotalCountLabel" >
    Total
</div>
<div id="TotalCount">
    3434343443
</div>

<div id="ProductName">

</div>

<div class="input-row track-inventory-by">
    <div class="input-label">Track Inventory By</div>
    <select class="filter track-by">
        <option value="PackageSize">Size</option>
    </select>
</div>



</body>
</html>