<script src="javascripts/ResetPassword.js"></script>
<div id="formContainer">
    <form hidden id="start">
        <div class="row">
            <div class="col-xs-5">
                <label for="username" class="col-xs-6">Please input your username: </label>
                <input id="username" class="col-xs-6">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
    <form hidden id="complete">
        <div class="row">
            <div class="col-xs-5">
                <label for="newpw" class="col-xs-6">Please input new password: </label>
                <input id="newpw" class="col-xs-6" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <label for="confirm" class="col-xs-6">Please input new password again: </label>
                <input id="confirm" class="col-xs-6" type="password">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Submit">
        </div>
    </form>
</div>