<script src="javascripts/ResetPassword.js"></script>
<div id="formContainer">
    <form hidden id="start">
        <h4 id="UserStartMessage">Password Reset Request</h4>
        <div class="row">
            <div class="col-xs-5">
                <label for="username" class="col-xs-6">Please input your username: </label>
                <input id="username" class="col-xs-6">
            </div>
        </div>
        <div class="row">
            <button type="button" onClick="startReset()">Reset</button>
        </div>
    </form>
    <form hidden id="complete">
        <h4 id="UserCompleteMessage">Change Your Password</h4>
        <div class="row">
            <div class="col-xs-5">
                <label for="newpw" class="col-xs-6">Please input new password: </label>
                <input id="newpw" class="col-xs-6" type="password">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-5">
                <label for="confirm" class="col-xs-6">Please input new password again: </label>
                <input id="confirm" class="col-xs-6" type="password">
            </div>
        </div>
        <div class="row">
            <button type="button" onClick="completeReset()">Reset</button>
        </div>
    </form>
</div>