<body>
<script>
window.apiRoute = "<%= apiRoute %>";
window.lookup = "<%= lookup %>";
</script>
<% include indexBody.html %>
<script>
jQuery.get(window.apiRoute+"/Login/TestResetIdentifier/"+window.lookup, function(){navigation.go('ResetPassword.html')});
</script>
</body>