<body>
<script>
window.apiRoute = "<%= apiRoute %>";
window.lookup = "<%= lookup %>";
</script>
<% include indexBody.html %>
<script>
var temp = window.lookup.split("-", 1);
var page = temp[0];
var pageKey = temp[1];

if(page.toLowerCase() == "confirm"){
    jQuery.get(window.apiRoute+"/Login/testLookup/"+window.lookup, function(lookup){
        if(lookup.type == "reset"){
            navigation.go('ResetPassword.html');
        }
        else if(lookup.type == "create"){
            navigation.go('confirmUser.html');
        }
        else{
            navigation.go('Home.html');
        }
    })
    .fail(function(){
        window.alert("Not a valid confirmation code");
        navigation.go('Home.html');
    });
}
else{
    navigation.go(page+".html", {routingKey:pageKey});
}

</script>
</body>