<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Pull Carts</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="javascripts/jquery-1.11.3.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/ViewCarts.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1>Pull Carts</h1>
    <hr/>

    <div class="row form-group">
        <div class="col-sm-4">
            <label for="selectDropDown">Select a cart to view</label>
            <select id="selectDropDown" class="form-control filter track-by" onChange=displayCartInventory()></select>
        </div>
        <div class="col-sm-offset-4 col-sm-4">
            <button class="btn btn-default pull-right" onclick="gotoEditCarts()">Edit Cart</button>
            <button class="btn btn-default pull-right" onclick="gotoEditItems()">Edit Items</button>
            <br/>
            <div id="notSelected"></div>
        </div>
    </div>

    <div id="inventory-container"></div>

    <br/>

    <div class="row">
        <div class="col-sm-4">
            <button id="pullAllButton" class="btn btn-default" onclick="pullAll()">Pull All</button>
        </div>
    </div>

    <div id="response"></div>
</div>
<script>
    $(function(){populateByCartId();})</script>
</body>
</html>
