body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
#pgTitle {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    font-size: 40px;
    color:darkblue;
}

#container,td{
    border-style: double;
}