/* sitewide styles
*******************************/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-allign: center;
  font-size: 40px;
}

/* TODO: Actually style + implement title banner */
.title-banner {
  width: 100%;
  background-color: #0055aa;
  font-size: 24px;
  color: white;
  line-height: 80px;
  padding-left: 5%;
}

/* TODO: Actually style + implement sidebar menu */
.navigation-menu {
  width: 15%;
  float: left;
  background-color: #0086b3;
  padding-bottom: 500px;
}

@media (max-width: 800px) {
  .navigation-menu {
    display: none;
  }
}
.content-container {
  width: 85%;
  float: left;
}

.input-row {
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-row .input-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-row input[type=text],
.input-row textarea {
  width: 80%;
}

.input-row input[type=checkbox] {
  margin-right: 10px;
}

@media (max-width: 800px) {
  .input-row input[type=text],
  .input-row textarea {
    width: 100%;
  }
}
/* unimplemented class - put on things that haven't been implemented yet */
.unimplemented {
  color: red;
}


/* form.html specific styles
*******************************/
#pgTitle {
  text-allign: center;
  font-size: 40px;
  color:darkblue;
}
#user{
  width: 200px;
  text-align: left;
}
#description{
  width: 200px;
  text-allign: left;
}
#joNum{
  width: 200px;
  text-allign: left;
}

/* NewProduct.html specific styles
*******************************/
.new-item-description {
  font-size: 12px;
  margin-left: 5%;
  line-height: 30px;
}

.new-product-form .upload-button,
.new-product-form .submit {
  text-align: center;
  width: 30%;
  font-size: 18px;
  line-height: 30px;
  background-color: #990000;
  color: #FFFFFF;
  cursor: pointer;
}

.new-product-form .submit {
  background-color: #0086b3;
}

.new-product-form .submit:hover {
  background-color: #0055aa;
}

.new-product-form .upload-button:hover {
  background-color: #843534;
}

@media (max-width: 800px) {
  .new-product-form .upload-button,
  .new-product-form .submit {
    width: 100%;
  }
}
.new-product-form .external-id-input .input-label {
  color: red;
}
.new-product-form .external-id-input input {
  width: 25%;
}

.new-product-form .error-message,
.new-product-form .success {
  background-color: #990000;
  color: #FFFFFF;
  line-height: 30px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
}

.new-product-form .success {
  background-color: #009926;
}

.new-product-form .date {
  float: right;
  margin-right: 20%;
  color: #080808;
  font-size: 14px;
}