/* sitewide styles
	*******************************/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  font-size: 40px;
}

/* Generic input row
*******************************/
.input-row {
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-row .input-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-row input[type=text],
.input-row textarea {
  width: 80%;
}

.input-row input[type=checkbox] {
  margin-right: 10px;
}

@media (max-width: 800px) {
  .input-row input[type=text],
  .input-row textarea {
    width: 100%;
  }
}
/* unimplemented class - put on things that haven't been implemented yet */
.unimplemented {
  color: red;
}

/* Generic error message
*******************************/
.error-message {
  color: red;
  font-size: 18px;
}

/* form.html specific styles
*******************************/
#pgTitle {
  text-align: center;
  font-size: 40px;
  color:darkblue;
}
#user{
  width: 200px;
  text-align: left;
}
#description{
  width: 200px;
  text-align: left;
}
#joNum{
  width: 200px;
  text-align: left;
}


h1 {
  text-align: center;
  font-size: 40px;
}

/* NewProduct.html specific styles
*******************************/
.new-item-description {
  font-size: 12px;
  margin-left: 5%;
  line-height: 30px;
}

.new-product-form .upload-button,
.new-product-form .submit {
  text-align: center;
  width: 30%;
  font-size: 18px;
  line-height: 30px;
  background-color: #990000;
  color: #FFFFFF;
  cursor: pointer;
}

.new-product-form .submit {
  background-color: #0086b3;
}

.new-product-form .submit:hover {
  background-color: #0055aa;
}

.new-product-form .upload-button:hover {
  background-color: #843534;
}

@media (max-width: 800px) {
  .new-product-form .upload-button,
  .new-product-form .submit {
    width: 100%;
  }
}
.new-product-form .external-id-input .input-label {
  color: red;
}
.new-product-form .external-id-input input {
  width: 25%;
}

.new-product-form .error-message,
.new-product-form .success {
  background-color: #990000;
  color: #FFFFFF;
  line-height: 30px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
}

.new-product-form .success {
  background-color: #009926;
}

.new-product-form .date {
  float: right;
  margin-right: 20%;
  color: #080808;
  font-size: 14px;
}

/* Vertical nav bar
*******************************/
.vertical-nav-bar {
  list-style-type: none;
  background-color: #b0c4de;
  position: absolute;
  display: block;
  top: 100px;
  left: 0;
  width: 25%;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  .vertical-nav-bar {
    display: none;
    width: 100%;
    top: 130px;
  }
}
.vertical-nav-bar li button {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #b0c4de;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #999;
  text-decoration: none;
  color: #000;
  width: 100%;
}
.vertical-nav-bar li button:hover, #nav li a.active {
  background: #999;
  color: #fff;
}
.vertical-nav-bar li ul {
  display: none;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.vertical-nav-bar li ul li {
  width: 100%;
  left:0;
}
.vertical-nav-bar li ul li button {
  padding: 10px 25px;
  width: 100%;
  background: #ececec;
  border-bottom: 1px dotted #ccc;
}

.show-mobile-menu {
  display: none;

  width: 100%;
  position: absolute;
  top: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: monospace;
  background-color: blue;
  text-align: center;
  cursor: pointer;
  background-color: #6785DE;
  color: #FFFFFF;
}
@media (max-width: 800px) {
  .show-mobile-menu {
    display: block;
  }
}
/* Nav bar styles
*******************************/
.main-horizontal-nav {
  background-color: #b0c4de;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100px;
}

/* StevensIS logo
*******************************/
.si-logo {
  margin: 20px;
}

/* Main content container
*******************************/
.main-content-container {
  position: relative;
  margin-top:100px;
  margin-left: 25%;
  width: 75%;
  z-index: -1;
}

@media (max-width: 800px) {
  .main-content-container {
    margin-left: 0;
    width: 100%;
    margin-top: 130px;
  }
}

/* Top right links
*******************************/
.header-menu-right {
  position: absolute;
  right: 0;
  top: 70px;
}

/* ItemDetailView.html specific styles
*******************************/
.detail_view button {
  display: block;
  padding: 10px 15px;
  background: #b0c4de;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #999;
  text-decoration: none;
  color: #000;
  width: 33%;
  float: left;
}
.detail_view button:hover, #nav a.active {
    background: #999;
    color: #fff;
}

.detail_view_buttons {
  width: 100%;
  height: 80px;
}

#productName {
  text-align: center;
  font-size: 24px;
  text-decoration: underline;
}

/* DisplayInventory.html specific styles
*******************************/
.display-inventory-container .thumbnail {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
  clear: both;
  margin-right: 20px;
}
@media (max-width: 800px) {
  .display-inventory-container .thumbnail {
    display: none;
  }
}

.display-inventory-container .inventory-item {
  width: 100%;
  min-height: 100px;
  clear: both;
  line-height: 25px;
  position: relative;
  padding-bottom: 50px;
  margin-top: 25px;
  border-bottom: 2px dashed grey;
}

.display-inventory-container span {
  font-size: 18px;
}

.display-inventory-container .pull-button {
    position: absolute;
    right: 20%;
    top: 0;
    font-size: 24px;
    line-height: 35px;
}

.display-inventory-container .total {
  position: absolute;
  right: 20%;
  bottom: 20px;
  font-size: 24px;
  line-height: 40px;
}

@media (max-width: 800px) {
  .display-inventory-container .total {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .display-inventory-container .pull-button {
    position: relative;
    right: 0;
  }
}

.display-inventory-container .name {
  margin-left: 2%;
}

.display-inventory-container .input-row {
  width: 33%;
  float: left;
}

.display-inventory-container .filter {
  width: 80%;
}

@media (max-width: 800px) {
  .display-inventory-container .input-row {
    width: 100%;
  }
}
.display-inventory-container .menu {
  width: 100%;
  border-bottom: 2px dashed grey;
  float: left;
  margin-bottom: 25px;
}
