/* sitewide styles
	*******************************/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 150%;
}

hr {
  border-bottom: 2px dashed gray;
}

.imageUpload img {
   width: 200px;
   height: auto;
 }

.imageUpload.loading {
   width: 200px;
   text-align: center;
   height: 100px;
   line-height: 100px;
   border: 1px solid gray;
   color: gray;
}

.thumbnail {
   width: 128px;
   height: auto;
}

.thumbnail img {
   width: 100%;
   height: auto;
}

.noImage {
   width: 100%;
   height: 100px;
}

/* unimplemented class - put on things that haven't been implemented yet */
.unimplemented {
  color: red;
}

/* Generic error message style
*******************************/
.error-message {
  color: red;
  font-size: 18px;
}

/* Generic input row
*******************************/
.input-row {
  margin-left: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-row .input-label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-row input[type=text],
.input-row textarea {
  width: 80%;
}

.input-row input[type=checkbox] {
  margin-right: 10px;
}

/* On mobile devices make the input the full width */
@media (max-width: 800px) {
  .input-row input[type=text],
  .input-row textarea {
    width: 100%;
  }
}

/* Vertical nav bar
*******************************/
.vertical-nav-bar {
  list-style-type: none; /* Don't put bullet points on the list */
  background-color: #b0c4de;

  /* Remove the nav bar from the natural flow and stick it at position 100px down, 0px left. */
  position: absolute;
  top: 100px;
  left: 0;
  width: 25%; /* Make it take up 25% of the full screen */

  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;

  padding-bottom: 20px;
}

.vertical-nav-bar::before {
  content: "";
  background-color: #b0c4de;
  width: 25%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  z-index: -2;
}
/*Hide the nav bar on mobile so we can show it on demand*/
@media (max-width: 800px) {
  .vertical-nav-bar {
    display: none;

    z-index: 100;
    width: 100%;
    top: 130px; /*Stick it at 130px down instead of 100px*/
  }

  .vertical-nav-bar::before {
    display: none;
  }
}

.vertical-nav-bar li button {
  display: block; /*Display the buttons like a div instead of a button or list item */
  padding-top: 15px;
  padding-bottom: 15px;
  background: #b0c4de;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #999;
  text-decoration: none;
  color: #000 !important;
  width: 100%;
}

/* Change the color/bg color when the button is hovered or clicked */
li button.active {
  background: #999 !important;
  color: #fff !important;
}

.vertical-nav-bar li ul {
  display: none; /* Hide the sub-menu options until we need them */

  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

.vertical-nav-bar li ul li {
  width: 100%;
  left: 0;
}

.vertical-nav-bar li ul li button {
  padding: 10px 25px;
  width: 100%;
  background: #ececec !important;
  border-bottom: 1px dotted #ccc;
}

.show-mobile-menu {
  display: none; /* Hide the mobile menu selector on default displays */

  /* Remove the selector from the normal flow of elements and stick it 100px down from the top */
  position: absolute;
  top: 100px;

  font-family: monospace;
  text-align: center;
  cursor: pointer; /* Make it look clickable when it's hovered */

  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #6785DE;
  color: #FFFFFF;
}

/* Show the mobile menu selector on mobile displays */
@media (max-width: 800px) {
  .show-mobile-menu {
    display: block;
  }
}

/* Nav bar styles
*******************************/
/* Put the horizontal nav at the very top of the screen at position 0,0 */
.main-horizontal-nav {
  background-color: #b0c4de;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* StevensIS logo
*******************************/
.si-logo {
  margin: 20px;
}

/* Main content container
*******************************/
.main-content-container {
  position: relative;

  /* Make sure the content happens outside the nav bars */
  margin-top: 100px;
  margin-left: 25%;
  width: 75%;

}

/* On mobile, make the content use the full screen width available */
@media (max-width: 800px) {
  .main-content-container {
    margin-left: 0;
    width: 100%;
    margin-top: 130px;
  }
}

/* Top right links
*******************************/
/* Stick the login/about links flush right and 70px down from the top */
.header-menu-right {
  position: absolute;
  right: 0;
  top: 70px;
}


/* NewProduct.html specific styles
*******************************/
.new-item-description {
  font-size: 12px;
  margin-left: 5%;
  line-height: 30px;
}

/* Upload and submit button will get the same general styles */
.new-product-form .upload-button,
.new-product-form .submit {
  text-align: center;
  width: 30%;
  font-size: 18px;
  line-height: 30px;
  background-color: #990000;
  color: #FFFFFF;
  cursor: pointer;
}

.new-product-form .submit {
  background-color: #0086b3;
}

/* Change submit button background on hover */
.new-product-form .submit:hover {
  background-color: #0055aa;
}

/* Change upload button background on hover */
.new-product-form .upload-button:hover {
  background-color: #843534;
}

/* On mobile, make the buttons take up the full width */
@media (max-width: 800px) {
  .new-product-form .upload-button,
  .new-product-form .submit {
    width: 100%;
  }
}

/* Unimplemented feature */
.new-product-form .external-id-input .input-label {
  color: red;
}

.new-product-form .external-id-input input {
  width: 25%;
}

/* Style error and success messages generally the same */
.new-product-form .error-message,
.new-product-form .success {
  background-color: #990000;
  color: #FFFFFF;
  line-height: 30px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
}

/* Except override the background color to be green for success */
.new-product-form .success {
  background-color: #009926;
}

.new-product-form .date {
  float: right; /* Make the date find a spot where it can on the far right of the container */
  margin-right: 20%;
  color: #080808;
  font-size: 14px;
}

/* DisplayInventory.html specific styles
*******************************/
.display-inventory-container .thumbnail {
  width: 100px;
  height: 100px;
  overflow: hidden;
  background-color: red;
  float: left;
  clear: both; /* Fully clear the previous element */
  margin-right: 20px;
}

/* Hide the thumbnails on mobile */
@media (max-width: 800px) {
  .display-inventory-container .thumbnail {
    display: none;
  }
}

.display-inventory-container .inventory-item {
  width: 100%;
  min-height: 100px;
  clear: both;
  line-height: 25px;
  position: relative;
  padding-bottom: 50px;
  margin-top: 25px;
  border-bottom: 2px dashed grey;
}

.display-inventory-container span {
  font-size: 18px;
}

.display-inventory-container .pull-button {

  /* Stick the pull button 20% off the parent container size and flush with the top of the parent element */
  position: absolute;
  right: 20%;
  top: 0;

  font-size: 24px;
  line-height: 35px;
}

.display-inventory-container .total {

  /* Stick the total 20% off the parent container size off the far right and 20px off the bottom */
  position: absolute;
  right: 20%;
  bottom: 20px;

  font-size: 24px;
  line-height: 40px;
}

/* On mobile, bring the total count and pull button back into the regular flow of elements */
@media (max-width: 800px) {
  .display-inventory-container .total {
    position: relative;
    right: 0;
    bottom: 0;
  }

  .display-inventory-container .pull-button {
    position: relative;
    right: 0;
  }
}

.display-inventory-container .name {
  margin-left: 2%;
}

.display-inventory-container .input-row {
  width: 33%;
  float: left;
}

.display-inventory-container .filter {
  width: 80%;
}

@media (max-width: 800px) {
  .display-inventory-container .input-row {
    width: 100%;
  }
}
.display-inventory-container .menu {
  width: 100%;
  border-bottom: 2px dashed grey;
  float: left;
  margin-bottom: 25px;
}

